/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# Original jbpm ignores
bin/
*~
*.tlog
jbpm-human-task/activemq-data/
/jbpm-human-task/jbpm-human-task-api/nbproject/private/
/jbpm-human-task/jbpm-human-task-api/target/
/jbpm-human-task/jbpm-human-task-model/target/
/jbpm-human-task/jbpm-human-task-identity/target/
/jbpm-human-task/jbpm-human-task-impl-mina/target/
/jbpm-human-task/jbpm-human-task-impl-hornetq/target/
/jbpm-human-task/jbpm-human-task-impl-jms/target/