#set ($idParam = ${language.getParam("id", $item.id)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($style = "$width$height")
#set ($styleParam = ${language.getParam("style", $style)})
#set ($name = $item.name)
#if (($name and $name != "") and $item.output and $item.output.name and $item.output.name != "")
    #set ($name = $item.ouptput.name)
#end
<\#assign localeData=[
#foreach ($entry in ${item.getI18n().entrySet()})
    "${entry.getKey()}" => "${entry.getValue()}",
#end
    "LAST_ELEMENT_KEY", "LAST_ELEMENT_VALUE"
] >
<\#assign value = \${localeData[\${$locale}]} >
## TODO completeButton.getOnClickScript(); should be loaded first
#set ($nameParam = ${language.getParam("name", $name)})
#set ($valueParam = ${language.getParam("value", $item.text)})
<\#macro printi18ncbutton text>
    <\#if \${value}?length > 0 && \${value}>
      #if ($item.format)
        #set ($valueFormatted = '${value}')
        #if ($item.format == "currency")#set($valueFormatted='${value?string.currency}')#end
        #if ($item.format == "number")#set($valueFormatted='${value?string.number}')#end
        #if ($item.format == "date")#set($valueFormatted='${value?string.short}')#end
        #if ($item.format == "datetime")#set($valueFormatted='${value?string.short_short}')#end
        #if ($item.format == "percent")#set($valueFormatted='${value?string.percent}')#end
        #if ($item.format == "integer")#set($valueFormatted='${value?string("0")}')#end
        $valueFormatted
      #end
    <\#else> 
      #if ($item.format)
        #set ($valueFormatted = '${text}')
        #if ($item.format == "currency")#set($valueFormatted='${text?string.currency}')#end
        #if ($item.format == "number")#set($valueFormatted='${text?string.number}')#end
        #if ($item.format == "date")#set($valueFormatted='${text?string.short}')#end
        #if ($item.format == "datetime")#set($valueFormatted='${text?string.short_short}')#end
        #if ($item.format == "percent")#set($valueFormatted='${text?string.percent}')#end
        #if ($item.format == "integer")#set($valueFormatted='${text?string("0")}')#end
        $valueFormatted
      #end
    </\#if>
</\#macro>
<input type="submit" #if($idParam)$idParam#end#if($styleParam)$styleParam#end#if($nameParam)$nameParam#end<@printi18ncbutton text="#if($valueParam)$valueParam#end"/> />
