#set ($classParam = ${language.getParam("class", $item.cssName)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
<\#assign localeData=[
#foreach ($entry in ${item.getI18n().entrySet()})
    "${entry.getKey()}" => "${entry.getValue()}",
#end
    "LAST_ELEMENT_KEY", "LAST_ELEMENT_VALUE"
] >
<\#assign value = \${localeData[\${$locale}]} >
#set ($styleParam = ${language.getParam("style", $style)})
##TODO getItemValidations
#set ($value = $item.value) 
#if ($item.input)
  #if ($item.input.name)
    #set ($aux = ${item.input.name})
    #set ($value = ${language.asFtlVar($aux)})
  #end
#end 
<\#macro printi18nlabel label>
    #if ($item.format)
      #if ($item.format == "currency")
        <\#if \${value}> \${value?string.currency} <\#else> \${label?string.currency} </\#if>
      #elseif ($item.format == "number")
        <\#if \${value}> \${value?string.number} <\#else> \${label?string.number} </\#if>
      #elseif ($item.format == "date")
        <\#if \${value}> \${value?string.short} <\#else> \${label?string.short} </\#if>
      #elseif ($item.format == "datetime")
        <\#if \${value}> \${value?string.short_short} <\#else> \${label?string.short_short} </\#if>
      #elseif ($item.format == "percent")
        <\#if \${value}> \${value?string.percent} <\#else> \${label?string.percent} </\#if>
      #elseif ($item.format == "integer")
        <\#if \${value}> \${value?string("0")} <\#else> \${label?string("0")} </\#if>
      #end
    #else
      <\#if \${value}> \${value} <\#else> \${label} </\#if>
    #end
</\#macro>
<span #if($classParam)$classParam#end#if($styleParam)$styleParam#end><@printi18nlabel label="#if($value)$value#end" /></span>
