#set ($classParam = ${language.getParam("class", $item.cssName)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
<\#assign localeData=[
#foreach ($entry in ${item.getI18n().entrySet()})
    "${entry.getKey()}" => "${entry.getValue()}",
#end
    "LAST_ELEMENT_KEY", "LAST_ELEMENT_VALUE"
] >
<\#assign value = \${localeData[\${$locale}]} >
#set ($styleParam = ${language.getParam("style", $style)})
##TODO getItemValidations
#set ($value = $item.value) 
#if ($item.input)
  #if ($item.input.name)
    #set ($aux = ${item.input.name})
    #set ($value = ${language.asFtlVar($aux)})
  #end
#end 
<\#macro printi18nlabel label>
    <\#if \${value}> \${value} <\#else> \${label} </\#if>
</\#macro>
<span #if($classParam)$classParam#end#if($styleParam)$styleParam#end><@printi18nlabel label="#if($value)$value#end" /></span>
