#set ($classParam = ${language.getParam("class", $item.cssName)})
#set ($width = ${language.getStyleParam("width", $item.width)})
#set ($height = ${language.getStyleParam("height", $item.height)})
#set ($sytle = "$width$height")
<\#assign localeData=[
#foreach ($entry in ${item.getI18n().entrySet()})
    "${entry.getKey()}" => "${entry.getValue()}",
#end
    "LAST_ELEMENT_KEY", "LAST_ELEMENT_VALUE"
] >
<\#assign value = \${localeData[\${$locale}]} >
#set ($styleParam = ${language.getParam("style", $style)})
##TODO getItemValidations
#set ($value = $item.value) 
#if ($item.input)
  #if ($item.input.name)
    #set ($aux = ${item.input.name})
    #set ($value = ${language.asFtlVar($aux)})
  #end
#end 
<\#macro printi18nlabel label>
    #if ($item.format)
      #set($valueFormatted = '${value}')
      #set($labelFormatted = '${label}')
      #if ($item.format == "currency")
        #set ($valueFormatted = '${value?string.currency}')
        #set ($labelFormatted = '${label?string.currency}')
      #end
      #if ($item.format == "number")
        #set($valueFormatted = '${value?string.number}')
        #set($labelFormatted = '${label?string.number}')
      #end
      #if ($item.format == "date")
        #set($valueFormatted = '${value?string.short}')
        #set($labelFormatted = '${label?string.short}')
      #end
      #if ($item.format == "datetime")
        #set($valueFormatted = '${value?string.short_short}')
        #set($labelFormatted = '${label?string.short_short}')
      #end
      #if ($item.format == "percent")
        #set($valueFormatted = '${value?string.percent}')
        #set($labelFormatted = '${label?string.percent}')
      #end
      #if ($item.format == "integer")
        #set($valueFormatted = '${value?string("0")}')
        #set($labelFormatted = '${label?string("0")}')
      #end
      <\#if \${value}> $valueFormatted \<\#else> $labelFormatted </\#if>
    #else
      <\#if \${value}> \${value} <\#else> \${label} </\#if>
    #end
</\#macro>
<span #if($classParam)$classParam#end#if($styleParam)$styleParam#end><@printi18nlabel label="#if($value)$value#end" /></span>
