#set ($rowsParam = ${language.getParam("rows", $item.rows)})
#set ($colsParam = ${language.getParam("cols", $item.cols)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($nameParam = ${language.getParam("name", $item.name)})
#if ($item.value)
    #set($inputValue = $item.value)
#end
#if($item.input)
  #if($item.input.name)
    #set($inputValue = "${"+$item.getInput().getName()+"}")
  #end
#end
<textarea $rowsParam $colsParam $idParam $nameParam >
    #if($inputValue)$inputValue#end
</textarea>
