#set ($rowsParam = ${language.getParam("rows", $item.rows)})
#set ($colsParam = ${language.getParam("cols", $item.cols)})
#set ($idParam = ${language.getParam("id", $item.id)})
#set ($nameParam = ${language.getParam("name", $item.name)})
<textarea $rowsParam $colsParam $idParam $nameParam >
    $item.value
</textarea>
