<?xml version="1.0" encoding="UTF-8"?>

<!--
       ~ JBoss, Home of Professional Open Source
  ~ Copyright 2011 Red Hat Inc. and/or its affiliates and other contributors
  ~ as indicated by the @author tags. All rights reserved.
  ~ See the copyright.txt in the distribution for a
  ~ full listing of individual contributors.
  ~
  ~ This copyrighted material is made available to anyone wishing to use,
  ~ modify, copy, or redistribute it subject to the terms and conditions
  ~ of the GNU Lesser General Public License, v. 2.1.
  ~ This program is distributed in the hope that it will be useful, but WITHOUT A
  ~ WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  ~ PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~ You should have received a copy of the GNU Lesser General Public License,
  ~ v.2.1 along with this distribution; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA  02110-1301, USA.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.drools.drools-core">

    <resources>
        <resource-root path="drools-core-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="com.google" export="true" />
        <module name="javaee.api" export="true" />
        <module name="javax.api" export="true" />
        <module name="org.javassist" export="true" />
        <module name="org.antlr" slot="3" export="true" />
        <module name="org.kie" export="true" />
        <module name="org.slf4j" export="true"/>
        <module name="org.mvel.mvel2" export="true" />
        <module name="org.hibernate" export="true" />
        <module name="org.hibernate" export="true" />

        <!-- java.lang.ClassNotFoundException: org.jbpm.persistence.processinstance.JPAProcessInstanceManagerFactory ... -->
        <!-- java.lang.ClassNotFoundException: org.drools.persistence.jpa.JpaTimeJobFactoryManager from [Module "org.drools.drools-core:main" ... -->
        <module name="org.drools.drools-persistence-jpa" />
    </dependencies>
</module>
