* {
    margin: 0px;
    padding: 0px;
}

#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

#loading a {
    color: #225588;
}

#loading .loading-indicator {
    background: white;
    color: #444;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
}

#loading-msg {
    font: normal 10px arial, tahoma, sans-serif;
}

.x-window {
    text-align: left;
}

.northeastCorner {
    background-image: url(images/resizablePanel/northeastCorner.gif);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.northwestCorner {
    background-image: url(images/resizablePanel/northwestCorner.gif);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.southwestCorner {
    background-image: url(images/resizablePanel/southwestCorner.gif);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.smallButton {
    background-image: url(images/resizablePanel/resizeButton.gif);
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.horizontalLine {
    background-image: url(images/resizablePanel/horizontalLine.gif);
    height: 10px;
    background-repeat: repeat-x;
}
.verticalLine {
    background-image: url(images/resizablePanel/verticalLine.gif);
    width: 10px;
    background-repeat: repeat-y;
}
.formDisplay {
    vertical-align: top;
    background-color: #FFFFFF;
    color: #000000;
}

.greenNotification {
    color: #AADD00;
}
.orangeNotification {
    color: #FF5721
}
.redNotification {
    color: #FF3030;
}
.fbFormItemThinBorder {
    border: 1px dotted gray;
}
.phantomPanel {
    background-color: #88FFFF;
    border: 1px dashed gray;
}
.even {
    background-color: #BBBBBB;
}
.odd {
    background-color: #FFFFFF;
}
.notificationsViewWrapper {
    border: 1px solid grey;
    background-color: #BBBBBB;
}
.mainWrapper {
    background-color: #EFEFEF;
}
.notificationsView DIV {
    width: 100%;
    background-color: #EFEFEF;
}
.toolBarViewWrapper {
    background-color: #E3E3E3;
    border-bottom: 1px solid #BBBBBB;
}
.layoutViewWrapper {
    border: 1px solid grey;
}
.toolViewWrapper {
    border: 1px solid grey;
    background-color: #E3E3E3;
    border-bottom: 1px solid #BBBBBB;
}
.toolView {
}
.toolView .gwt-TabLayoutPanelTabs {
}

.toolView .gwt-TabLayoutPanelContent {
  border-color: #bcbcbc;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 6px;
}

.toolView .gwt-TabLayoutPanelTab {
  margin-left: 2px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #e3e3e3;
  border: 1px solid gray;
}

.toolView .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: #bcbcbc;
}

.fbStackPanel .gwt-StackPanelItem {
    background:url("images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
    border-color:#BBBBBB #BBBBBB -moz-use-text-color;
    border-style:solid solid none;
    border-width:1px 1px 0;
    cursor:pointer;
    font-size:10pt;
    font-weight:bold;
    padding:3px;
}

.fbStackPanel {
  border-bottom:1px solid #BBBBBB;
  width:100%;
}
