/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Test data
/*.db
/activemq-data
/data
/settings-db.xml
/lib-jdbc/

# modules present in master but not here
/jbpm-human-task-services
/jbpm-human-task-core
/jbpm-human-task-hornetq
/jbpm-human-task-jms
/jbpm-human-task-mina
/jbpm-human-task-war
/jbpm-human-task-workitems
/jbpm-human-task-audit/
